version: '3.8'
services:
  book_db:
    container_name: book_db
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=@Paulmburu5
      - POSTGRES_DB=SkoteDb
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    container_name: adminer
    image: adminer:latest
    ports:
      - "8080:8080"

  app:
    container_name: app
    image: book-site:latest
    build: .
    ports:
      - "8081:8081"
    volumes:
      - .:/app
    environment:
      - FLASK_DEBUG=1
    command: flask run --host=0.0.0.0 --port=8081

volumes:
  db_data:

