version: '3.8'
services:
  app:
    container_name: app
    image: book-site:latest
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_URL=postgresql://postgres:postgres@book_db:5432/SkoteDb
    depends_on:
      - book_db
  book_db:
    container_name: book_db
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=@Paulmburu5
      - POSTGRES_USER=postgres
      - POSTGRES_DB=SkoteDb
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}
